# Default ignored files
/../../Bank Accuont cont./.idea/shelf/
/../../Bank Accuont cont./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Bank Accuont cont./.idea/httpRequests/
# Datasource local storage ignored files
/../../Bank Accuont cont./.idea/dataSources/
/../../Bank Accuont cont./.idea/dataSources.local.xml
